/* 전체 화면 정렬 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendard.css");

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Pretendard, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
}

/* 상단 제목 */
.title {
    position: absolute;
    top: 20px;
    font-size: 40px;
    font-weight: 400;
}

/* 로그인 박스 전체 */
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* '로그인' 텍스트 (83 x 38 정도 느낌) */
.login-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-wrapper {
    width: 392px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.input-wrapper label {
    font-size: 14px;
    font-weight: 700;
}

.input-wrapper input {
    width: 355px;
    height: 33px;
    border: none;
    margin-top: 10px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    ::placeholder {
        color: #B7B7B7;
    }
}

.input-box {
    width: 355px;
    height: 45px;
    margin-bottom: 10px;
    border-bottom: 2px solid #E2E2E2;
    transition: border-color 0.3s;
}

.input-box.focus {
    border-bottom: 2px solid #ECAA00;
}

.helper-text {
    font-size: 12px;
    color: #FF0000;
    margin-top: 4px; /* 거의 붙도록 최소 간격 */
    margin-bottom: 15px; /* 다음 요소와는 간격 확보 */
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.helper-text.valid {
    color: green;
}

/* 보라색 로그인 버튼 (383 x 37) */
.login-btn {
    width: 361px;
    height: 50px;
    background-color: #F7F7F7;
    color: #B7B7B7;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    z-index: 3;
}

.login-btn.valid {
    color: #333333;
    background-color: #FFC700;
}

.login-btn.valid:active {
    background-color: #ECAA00;
}

    /* 하단 회원가입 버튼 (68 x 30) */
.signup-btn {
    width: 361px;
    height: 50px;
    border: 1px solid #E2E2E2;
    background-color: transparent;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

.signup-btn:active {
    background-color: #F7F7F7;
}