/* 전체 화면 정렬 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Pretendard", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
}

/* 상단 제목 */
.title {
    position: absolute;
    top: 20px;
    font-size: 40px;
    font-weight: 400;
}

/* 로그인 박스 전체 */
.password-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* '로그인' 텍스트 (83 x 38 정도 느낌) */
.edit-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input-wrapper {
    width: 392px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 12px;
}

.input-wrapper label {
    font-size: 14px;
    font-weight: 700;
    margin-top: 18px;
}

.input-wrapper input {
    width: 355px;
    height: 33px;
    border: none;
    margin-top: 10px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    ::placeholder {
        color: #B7B7B7;
    }
}

.input-box {
    width: 355px;
    height: 45px;
    margin-bottom: 10px;
    border-bottom: 2px solid #E2E2E2;
    transition: border-color 0.3s;
}

.input-box.focus {
    border-bottom: 2px solid #ECAA00;
}

.helper-text {
    font-size: 14px;
    color: #CB3D0B;
    padding: 5px 0;
    margin-top: 4px; /* 거의 붙도록 최소 간격 */

    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1px;

    display: flex;
    align-items: center;
    gap: 4px;
}

.helper-text::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

    background-image: url("/src/assets/warning-fill.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    /*background-color: #CB3D0B;*/
    /*mask: url("/src/assets/warning-fill.svg") no-repeat center;*/
    /*mask-size: contain;*/
}

.helper-text.valid {
    color: #2B75CB;
}

.helper-text.valid::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

    background-image: url("/src/assets/check.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

/* 보라색 로그인 버튼 (383 x 37) */
.edit-btn {
    width: 361px;
    height: 50px;
    background-color: #F7F7F7;
    color: #B7B7B7;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    z-index: 3;
}

.edit-btn.valid {
    color: #333333;
    background-color: #FFC700;
}

.edit-btn.valid:active {
    background-color: #ECAA00;
}