body {
    margin: 104px 0 0 0;
    padding: 0;
    height: 100%;
    font-family: "Pretendard", sans-serif;
    scroll-behavior: smooth;
}

.post-detail-container {
    width: 592px;
    margin: 120px auto 60px auto;
}

/* 제목 */
.post-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* 작성자 정보 */
.post-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.author-name {
    font-size: 14px;
    font-weight: 500;
}

.post-date {
    font-size: 12px;
    color: #666;
}

.post-actions {
    display: flex;
    gap: 8px;
}

/* 수정·삭제 버튼 */
.post-actions button {
    /*width: 40px;*/
    /*height: 30px;*/
    /*padding: 2px 12px 2px 12px;*/
    /*border: 1px solid #aca0eb;*/
    /*border-radius: 8px;*/
    /*font-size: 12px;*/
    /*background-color: #f5f5f5;*/
    /*cursor: pointer;*/
    /*margin-left: 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 35px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #E2E2E2; /* 연보라색 테두리 */
    transition: all 0.15s ease;
}

.post-actions button:hover {
    background-color: #FFFBEE;
}

.post-actions button:active {
    transform: scale(0.97);
}

.post-actions.disable {
    display: none;
}

/* 구분선 */
.divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/* 게시글 이미지 */
.post-image {
    width: 544px;
    height: 306px;
    background-color: #e5e5e5;
    border-radius: 6px;
    margin: 0 auto 20px;
}

/* 게시글 본문 */
.post-content {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 30px;
}

/* 좋아요 / 조회수 / 댓글 */
.post-stats {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 8px;
}

.post-stats2 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 0 0;
    gap: 8px;

    font-weight: 700;
}

.view-box {
    width: 65px;
    height: 40px;
    border-radius: 8px;
    background-color: #F7F7F7;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #7F6AEE;
}

.view-box::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    background-color: #7F6AEE;
    mask: url("/src/assets/view.svg") no-repeat center;
    mask-size: contain;
}

.comment-box {
    width: 65px;
    height: 40px;
    border-radius: 8px;
    background-color: #F7F7F7;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #A2C9ED;
}

.comment-box::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 2px;

    background-color: #A2C9ED;
    mask: url("/src/assets/comment.svg") no-repeat center;
    mask-size: contain;
}

.like-box {
    width: 65px;
    height: 40px;
    border-radius: 8px;
    background-color: #F7F7F7;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #EC5062;
}

.like-box::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    background-color: #EC5062;
    mask: url("/src/assets/heart-empty.svg") no-repeat center;
    mask-size: contain;
}

.like-box.liked.like-box::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;

    background-color: #EC5062;
    mask: url("/src/assets/heart.svg") no-repeat center;
    mask-size: contain;
}

.stat-box {
    width: 116px;
    height: 77px;
    background-color: #d9d9d9;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 700;
    color: #000;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.stat-box span {
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.stat-box.enable {
    background-color: #aca0eb;
}

.division-bar {
    width: 100%;
    height: 12px;
    background-color: #F7F7F7;
}

/* 댓글 입력 */
.comment-section {
    width: 595px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.comment-input {
    width: 100%;
    height: 118px;
    box-sizing: border-box;
    padding: 24px 24px 0 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
    outline: none;
}

.comment-bottom {
    width: 100%;
    box-sizing: border-box;
    height: 51px;
    padding: 6px 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    border: 1px solid #ccc;

    position: absolute;
    top: 118px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-submit-btn {
    width: 138px;
    height: 39px;
    align-self: flex-end;
    color: #B7B7B7;
    background-color: #F7F7F7;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
    line-height: 24px;

    display: flex;             /* flex 컨테이너 */
    align-items: center;       /* 세로 중앙 정렬 */
    justify-content: center;   /* 가로 중앙 정렬 */
    gap: 8px;                  /* 아이콘과 텍스트 사이 간격 */
}

.comment-submit-btn::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;

    /*background-image: url("/src/assets/send.svg"); !* SVG 경로 *!*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/

    transform: rotate(-45deg) translate(2px, -2px);
    transform-origin: center;

    background-color: #B7B7B7;
    mask: url("/src/assets/send.svg") no-repeat center;
    mask-size: contain;
}

.comment-submit-btn.active {
    color: black;
    background-color: #FFC700;
}

.comment-submit-btn.active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;

    transform: rotate(-45deg) translate(2px, -2px);
    transform-origin: center;

    background-color: black;
    mask: url("/src/assets/send.svg") no-repeat center;
    mask-size: contain;
}

.comment-submit-btn.active:active {
    background-color: #ECAA00;
    /*transform: scale(0.97); !* 살짝 작아지면서 눌리는 느낌 *!*/
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset; !* 안으로 눌린 그림자 *!*/
}

.comment-info {
    width: 592px;
    margin: 0 auto;
    padding: 12px 0 12px 24px;

    display: flex;
    align-items: center;
    gap: 6px;
}

.comment-info img {
    width: 20px;
    height: 20px;
    /*background-color: #D0D0D0;*/
    /*mask: url('/src/assets/comment.svg') no-repeat center;*/
    /*mask-size: contain;*/
}

.comment-info span {
    font-size: 14px;
    line-height: 18px;
}

.post-image-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    background: #f0f0f0;     /* 이미지 없을 때 회색 박스처럼 보이도록 */
    border-radius: 16px;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.image-track {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.image-counter {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 12px;
    z-index: 15;
}

.slide-image {
    min-width: 100%;
    height: 100%;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

/* 좌, 우 버튼 스타일 */
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    font-size: 24px;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s;
    visibility: visible;
    z-index: 10;
}

.slide-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.left-btn {
    left: 10px;
}
.left-btn::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    background-color: black;
    mask: url("/src/assets/arrow.svg") no-repeat center;
    mask-size: contain;
}

.right-btn {
    right: 10px;
}

.right-btn::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    transform: rotate(180deg);
    transform-origin: center;

    background-color: black;
    mask: url("/src/assets/arrow.svg") no-repeat center;
    mask-size: contain;
}
