body {
    margin: 104px 0 0 0;
    padding: 0;
    height: 100%;
    font-family: "Pretendard", sans-serif;
}

/* 전체 박스 */
.post-container {
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Pretendard", sans-serif;
}

/* 제목 텍스트 (게시글 작성) */
.post-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* 제목, 내용, 이미지 라벨 */
.label-text {
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 20px 10px;
}

/* 제목 input */
.input-title {
    width: 592px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #E2E2E2;
    padding: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.input-title:focus {
    border-bottom: 2px solid #ECAA00;
}

.input-title::placeholder {
    color: #838486;
    font-weight: 700;
}

/* 내용 textarea */
.input-content {
    width: 592px;
    height: 300px;
    border: none;
    border-bottom: 2px solid #E2E2E2;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 14px;
}

.input-content::placeholder {
    color: #838486;
    font-weight: 700;
}

.input-content:focus {
    border-bottom: 2px solid #ECAA00;
}
/* 이미지 입력 */
/*.image-input {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 10px;*/
/*    width: 592px;*/
/*    padding-left: 10px;*/
/*}*/

/*.image-input input {*/
/*    cursor: pointer;*/
/*}*/

.helper-text {
    font-size: 14px;
    color: #CB3D0B;
    margin-top: 4px; /* 거의 붙도록 최소 간격 */
    margin-bottom: 8px; /* 다음 요소와는 간격 확보 */

    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    gap: 4px;
}

.helper-text::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

    background-image: url("/src/assets/warning-fill.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.helper-text.valid {
    color: #2B75CB;
}

.helper-text.valid::before {
    content: "";
    flex-shrink: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

    background-image: url("/src/assets/check.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

/* 완료 버튼 */
.submit-btn {
    width: 361px;
    height: 50px;
    background-color: #F7F7F7;
    color: #B7B7B7;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.submit-btn.valid {
    color: #333333;
    background-color: #FFC700;
}

.submit-btn.valid:active {
    background-color: #ECAA00;
}