body {
    margin: 104px 0 0 0;
    padding: 0;
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #F6F6F9;
}

/* 전체 영역 */
.board-container {
    width: 592px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 제목 + 버튼 영역 */
.board-header {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-bottom: 30px;
}

.board-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
}

.board-title strong {
    font-weight: 700;
}

/* 게시글 작성 버튼 */
.write-btn {
    width: 138px;
    height: 39px;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

/* 게시글 카드 */
.post-card {
    width: 592px;
    min-height: 169px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.post-top {
    display: flex;
    flex-direction: column;
}

/* 게시글 제목 + 날짜 */
.post-header {
    padding-left: 20px;
    padding-right: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 17px;
}

/* 좋아요, 댓글, 조회수 */
.post-info {
    font-size: 12px;
    color: #555;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px 0 10px 0;
    border-bottom: solid 1px #D9D9D9;
    display: flex;
}

.post-info span {
    margin-right: 12px;
}

.post-date {
    font-size: 12px;
    color: #888;
    margin-left: auto;
}
/*169 - 135 = 34*/
/* 작성자 정보 */
.post-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

.user-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #D9D9D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-name {
    font-size: 14px;
    font-weight: 700;
}
