.comment-list {
    width: 592px;
    margin: 0 auto;
    padding-left: 24px;
    font-family: "Noto Sans KR", sans-serif;
}

/* 전체 댓글 하나의 영역 */
.comment-item {
    width: 550px;
    min-height: 65px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 0;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
}

/* 프로필 이미지 */
.comment-profile {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 댓글 오른쪽 내용 영역 */
.comment-content {
    display: flex;
    flex-direction: column;
}

/* 수정/삭제 버튼 영역 */
.comment-actions {
    display: flex;
    align-self: center;
    gap: 8px;
    margin-left: auto;
}

.comment-actions.disable{
    display: none;
}

/* 작성자 + 날짜 */
.comment-header {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-top: 8px;
}

.comment-author {
    font-size: 15px;
    font-weight: 700;
}

.comment-date {
    font-size: 14px;
    font-weight: 400;
}

/* 댓글 내용 텍스트 */
.comment-text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
}

/* 버튼 공통 디자인 */
.comment-btn {
    width: 50px;
    height: 27px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #b9a9f2; /* 연보라색 테두리 */
    transition: all 0.15s ease;
}

.comment-btn:hover {
    background-color: #f1edff;
}

.comment-btn:active {
    transform: scale(0.97);
}

.observer {
    height: 1px;
}