.comment-list {
    width: 592px;
    margin: 0 auto;
    padding-left: 24px;
    font-family: "Pretendard", sans-serif;
}

/* 전체 댓글 하나의 영역 */
.comment-item {
    width: 550px;
    min-height: 65px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 0;
    font-family: "Pretendard", sans-serif;
    position: relative;
    border-bottom: 1px solid #EFEFEF;
}

/* 프로필 이미지 */
.comment-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 댓글 오른쪽 내용 영역 */
.comment-content {
    display: flex;
    flex-direction: column;
}

/* 수정/삭제 버튼 영역 */
.comment-actions {
    display: flex;
    align-self: center;
    gap: 8px;
    margin-left: auto;
}

.comment-actions.disable{
    display: none;
}

/* 작성자 + 날짜 */
.comment-header {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 8px;
}

.comment-author {
    color: #707070;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
}

.comment-date {
    color: #707070;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
}

/* 댓글 내용 텍스트 */
.comment-text {
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
}

.edit-btn::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;

    /*background-color: #FFC700;*/
    background-color: black;
    mask: url("/src/assets/write-black.svg") no-repeat center;
    mask-size: contain;
}

.delete-btn::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;

    /*background-color: #CB3D0B;*/
    background-color: black;
    mask: url("/src/assets/trash.svg") no-repeat center;
    mask-size: contain;
}

/* 버튼 공통 디자인 */
.comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #E2E2E2; /* 연보라색 테두리 */
    transition: all 0.15s ease;
}

.comment-btn:hover {
    background-color: #FFFBEE;
}

.comment-btn:active {
    transform: scale(0.97);
}

.observer {
    height: 1px;
}