.image-wrapper {
    display: flex;
    gap: 12px;
}

.image-list {
    display: flex;
    gap: 12px;
}

.image-input {
    width: 72px;
    height: 72px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-input::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;

    background: url("/src/assets/image-plus.svg") no-repeat center;

    margin-left: 7px;
    margin-bottom: 4px;
}

.image-input input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.image {
    width: 72px;
    height: 72px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.image-cancel {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;

    background: url("/src/assets/cancel.svg") no-repeat center;

    position: absolute;
    top: -6px;
    right: -6px;

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.image-cancel:active {
    transform: scale(0.96); /* 크기를 살짝 줄임 */
}

/*.image::after {*/
/*    content: "";*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    height: 20px;*/

/*    background: url("/src/assets/cancel.svg") no-repeat center;*/

/*    position: absolute;*/
/*    top: -6px;*/
/*    right: -6px;*/
/*}*/