<!DOCTYPE html>
<header class="main-header">
    <div class="header-title">아무 말 대잔치</div>

    <div class="header-profile-container">
        <div id="header-profile-image" class="header-profile-image"></div>

        <div id="dropdown" class="dropdown">
            <button onclick="location.href = `http://localhost:3000/src/pages/profile-update.html`">회원정보수정</button>
            <button onclick="location.href = `http://localhost:3000/src/pages/password-update.html`">비밀번호수정</button>
            <button id="logout">로그아웃</button>
        </div>
    </div>
</header>